html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
.common-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
